RewriteEngine On

RewriteRule (^|/)app(/|$) - [F]
RewriteRule (^|/)helpers(/|$) - [F]
RewriteRule (^|/)partials(/|$) - [F]
RewriteRule (^|/)dashboard/partials(/|$) - [F]
RewriteRule (^|/)composer.json(/|$) - [F]
RewriteRule (^|/)composer.lock(/|$) - [F]
RewriteRule (^|/).gitignore(/|$) - [F]
RewriteRule (^|/).env(/|$) - [F]
